@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap'); 
/*importer des fonts via googlefonts*/

*{margin:0;
    padding:0;
}
body{
  font-family: "Nunito Sans", sans-serif;
    /*coller la font family ici*/
}
.slider{ /*proportions du slider*/
  width:100%;
  height:80vh;
  aspect-ratio:16/9;
  position:relative
} 
.slider-background{
  width:100%;
  height:100%;
  object-fit:cover; /*l'image reste toujours de mm taille peu importre celle de la fenetre*/
  filter:brightness(55%);

}
.slider-content{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  text-align:center;
}

h1{
  color:#FFF;
  font-size:5rem;
}
h2{
  font-size:3rem;
}

p{
  font-size: 1.5rem;
  line-height:1.5em
}
.slider-content p{
  color:#fff;
  font-size:2rem;

}

.section{
  padding:100px 0;
}

.boxed{
  max-width:1280px;
  margin-inline:auto;

}

.flex{
  display:flex
}
.dark{
  background:#000;
  color:#fff;
}

.w40{
  width:40%
}
.w60{
  width:60%
}

.text-center{
  text-align:start;
}
.text-center-mid{
  text-align:center;
}

.w25{
  width:25%;
}
.w32{
  width: 32%;
}
.space-between{
  justify-content: space-between;
}
.gap20{
  gap:20px;
}
.skill{
  background:#333;
  border-radius:15px;
  padding:25px;
  box-sizing: border-box;
}
.skill img{
  width:100px;
  height:100px;
  aspect-ratio:1/1;
  object-fit: contain;
}

.skill h3{
  margin-top:10px;
}

/*bouton*/

.bouton{
  width:100px;
  height:70px;
}

/*contacts*/
.icon{
  display:block;
  font-size:2rem;

  
}
.label{
  display:block;
  font-weight:700;
  margin:7px; 
  font-size:1.5rem;

}
.value{
  display:block;
  font-size:1.5rem;

}

.contacts{
  border: thick double #d4c9c9;
  box-sizing: content-box;
  padding: 15px;
  border-radius:10px


}